@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 62.5%;
    background: #FFFFFF;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
h1 {
	margin-top: 50px;
	color: #BCBCBC;
	font-size: 2rem;
}
hr {
	margin-top: 10px;
	width: 600px;
	height: 1px;
	border: none;
	background: #BCBCBC;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 600px;
	max-width: 600px;
}
label {
	color: #494949;
	font-size: 0.8rem;
	padding-bottom: 10px;
}
input, select, textarea {
	height: 40px;
	font-size: 1rem;
	padding: 0 15px;
	color: #3A3A3A;
	border: 1px solid #E0E0E0;
	margin-bottom: 20px;
}
select {
	padding: 0 10px;
}

textarea {
	color: #3A3A3A;
	font-family: 'Open Sans', arial, sans-serif;
	padding: 15px;
	height: 100px;
	font-size: 1rem;
}

/*input:focus, select:focus, textarea:focus  {
	background: #FAFCFE;
}*/
/*input[name="adres"], input[name="email"], select {
	width: 80%;
}*/
input[name="postal"], input[name="date"] {
	width: 30%;
}
input[type="date"] {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	padding-right: 0;
	background-image: url('../img/calendar.png');
	background-position: 97% 50%;
	background-repeat: no-repeat;
}
input[type="date"]:focus {
	background: #FAFCFE;
	background-image: url('../img/calendar.png');
	background-position: 97% 50%;
	background-repeat: no-repeat;
}
input[type="date"]::-webkit-inner-spin-button {
  	display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	width: 15px;
 	opacity: 0;
}
input[name="phone"] {
	background-image: url('../img/calendar.png');
	background-position: 97% 50%;
	background-repeat: no-repeat;
}
input[name="phone"]:focus {
	background: #FAFCFE;
	background-image: url('../img/calendar.png');
	background-position: 97% 50%;
	background-repeat: no-repeat;
}

.name {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 30px;
}
.fname, .lname {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.fname {
	margin-right: 15px;
}
.buttons {
	display: flex;
	align-self: center;
}
.clear, .send {
	cursor: pointer;
	margin: 10px 5px;
	width: 150px;
	height: 50px;
	font-size: 0.9rem;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
}
.clear {
	background: #ED5D58;
}
.send {
	background: #96E674;
}
.clear:hover {
	background: #E83330;
}
.send:hover {
	background: #66D934;
}