@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 62.5%;
    background: #FFFFFF;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
h1 {
	margin-top: 50px;
	color: #56B8FE;
	font-size: 2rem;
}
hr {
	margin-top: 20px;
	width: 100px;
	height: 1px;
	border: none;
	background: #F4F4F4;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 600px;
	max-width: 600px;
    transition: all .3s;
}
label {
	color: #494949;
	font-size: 0.8rem;
	padding-bottom: 10px;
}
.row {
    display: flex;
    flex-direction: column;
    position: relative;
}
input, select, textarea {
	height: 40px;
	font-size: 1rem;
	padding: 0 15px;
	color: #3A3A3A;
	border: 1px solid #E0E0E0;
	margin-bottom: 20px;
}
input:focus, select:focus, textarea:focus  {
	background: #FAFCFE;
}
input, input:focus, select, select:focus {
	background-position: 97% 50%;
	background-repeat: no-repeat;
}
select, select:focus {
	padding: 0 10px;
	appearance:none;
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    background-image: url('../img/down-arrow.png');
}
textarea {
	color: #3A3A3A;
	font-family: 'Open Sans', arial, sans-serif;
	padding: 15px;
	height: 100px;
	font-size: 1rem;
}

/*input[name="adres"], input[name="email"], select {
	width: 80%;
}*/
/*
input[name="postal"], input[name="date"] {
	width: 40%;
}
*/
input[name="fname"], input[name="fname"]:focus, 
input[name="lname"], input[name="lname"]:focus {
	background-image: url('../img/id.png');
}
input[name="address"], input[name="address"]:focus, 
input[name="postal"], input[name="postal"]:focus {
	background-image: url('../img/address.png');
}
input[name="phone"], input[name="phone"]:focus {
	background-image: url('../img/phone.png');
}
input[name="email"], input[name="email"]:focus {
	background-image: url('../img/email.png');
}
input[type="date"] {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	padding-right: 0;
	background-image: url('../img/calendar.png');
}

input[type="date"]:focus {
	background-image: url('../img/calendar.png');
}
input[type="date"]::-webkit-inner-spin-button {
  	display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	width: 15px;
 	opacity: 0;
}

.name {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 30px;
}
.fname, .lname {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.fname {
	position: relative;
	margin-right: 15px;
}
/*
.postal {
    width: 40%;
}
*/
.buttons {
	display: flex;
	align-self: center;
}
.clear, .send {
	cursor: pointer;
	margin: 10px 5px;
	width: 150px;
	height: 50px;
	font-size: 0.9rem;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
}
.clear {
	background: #ED5D58;
}
.send {
	background: #96E674;
}
.clear:hover {
	background: #E83330;
}
.send:hover {
	background: #66D934;
}
.valid {
	border: 1px solid #96E674;
    transition: all .7s;
}
.invalid {
	border: 1px solid #ED5D58;
    transition: all .3s;
}
.invalid-text {
	color: #ED5D58;
	padding: 5px 5px 5px 22px;
	position: absolute;
	right: 5px;
	bottom: 10px;
	font-size: 0.8rem;
	background-color: #FFFFFF;
	background-image: url('../img/danger.png');
	background-position: 2px 50%;
	background-repeat: no-repeat;
    z-index: 10;
    transition: all .1s;
}
.hide {
    display: none;
}
.success {
    margin-top: 200px;
    font-size: 1.2rem;
    color: #56B8FE;
}